<!-- As a heading -->
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"><img src="favicon.ico"></span>
    </div>
  </nav>
  <div><img src="Banner.png" class="Banner"></div>
<div class="form">
    <h4>Your Bussiness Details</h4>
    <div class="mb-3">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Name">
      </div>
      <div class="mb-3">
        <select class="form-select">
          <option>+94</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>      
      </div>
      <div class="mb-3">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Business name">
      </div>
      <p><b>nobis itaque  somthink. Voluptates!</b></p>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something">
        <label class="form-check-label">Option1 nobis  Voluptates!</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something"  >
        <label class="form-check-label">Option2   fuga. Voluptates!</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" >
        <label class="form-check-label">Option3  quod fuga. Voluptates!</label>
      </div>
      <hr>
      <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-block" style="background-color: rgb(225, 56, 171); border-style: none;">Submit</button>
      </div>
      <address>
        clickingpoddul's<a href="#">Terms</a>and<a href="#">Condition</a>for 
      </address>   
</div>

  <div class="pre">
    <span style="color: white;">
      "Text in a pre element
      is displayed in  fixed-width
      font, and it preserves
      both and spaces"
    </span>
  </div>
  <div><img src="shopping-bag.png"  class="shoping"></div>

 




